:root {
  font-family: Inter, system-ui, Avenir, 'Segoe UI', Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: white;
  background-color: #000000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
}

#app {
  position: relative;

	background-image: url('/Home.png');
  background-size: cover;
  background-position: center;
	background-attachment: fixed;

	min-height: 100vh;
}

body {
	padding: 0;
	margin: 0;
}

a {
  font-weight: 500;
  color: #bebebe;
  text-decoration: inherit;
}

h1 {
  font-size: 24px;
  line-height: 1.1;
}
h2 {
	font-size: 18px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 1em 1.6em;
  font-size: 0.9em;
  font-weight: 600;
  font-family: inherit;
  background-color: #4CAF50;
  cursor: pointer;
  transition: border-color 0.25s;
  text-shadow: -1px -1px 0 #333, 1px -1px 0 #333, -1px 1px 0 #333, 1px 1px 0 #333;
}
button:hover {
  border-color: #fdfdfd;
}
button:focus,
button:focus-visible {
  outline: 6px auto -webkit-focus-ring-color;
}
